#threadCard{
  padding: 30px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  border: 1px solid grey;
}
.btnBackground{
  --background: none;
  background-color: black;
  display: flex;
}
#searchBar{
  padding-left: 60%;
}

.page-container {
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the container height */
}
.styled-textarea {
  border: 1px solid grey;
  padding: 10px;
  margin: 10px;
}
