#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
#toolbarHeader{
  border-top: 0;
  padding: 4px;

  border: 1px solid grey;
  margin-left: 4%;
  margin-right: 4%;

}
#mainHeadline{
  margin-left: 4%;
}
#icons{
  font-size: 30px;
}
#toolbarContent{
  padding: 8px 12px;
}


