#topicCards{
  padding: 20px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  border: 1px solid grey;
  align-items: center;
  display: flex;
}
#topicImage {
  width: 6%;
  height: auto;

}

#topicTitle{
  color: white;
  cursor: pointer;
}

