.background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  animation: background 20s infinite ease-in-out;
}

@keyframes background {
  0% {background-color: #250202;}
  20% {background-color: #42111e;}
  40% {background-color: #5d2547;}
  60% {background-color: #3c2272;}
  80% {background-color: #121054;}
  100% {background-color: #250202;}
}

.btnBackground{
  --background: none;
  background-color: black;
  display: flex;
}
